body {
  background: rgb(35, 108, 53);
}
.form-control:focus {
  box-shadow: none;
  border-color: rgb(18, 77, 33) rgb(35, 108, 53);
}
.profile-button {
  background: rgb(35, 108, 53);
  box-shadow: none;
  border: none;
}
.profile-button:hover {
  background: rgb(35, 108, 53);
}
.profile-button:focus {
  background: rgb(34, 212, 79);
  box-shadow: none;
}
.profile-button:active {
  background: rgb(34, 212, 79);
  box-shadow: none;
}
.back:hover {
  color: rgb(34, 212, 79);
  cursor: pointer;
}
.labels {
  font-size: 11px;
}
.add-experience:hover {
  background: rgb(34, 212, 79);
  color: #fff;
  cursor: pointer;
  border: solid 1px rgb(34, 212, 79);
}

.scrollable{
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}
label.labels {
  font-size: 18px; /* Adjust the font size as per your preference */
}
