<div>
  <table class="container-fluid table caption-top">
    <caption class="text-black fs-2 mb-3">
      Order Details
    </caption>

    <thead>
      <tr>
        <th scope="col" class="text-center">Id</th>
        <th scope="col" class="text-center">User Id</th>
        <th scope="col">Username</th>
        <th scope="col">Current Status</th>
        <th scope="col">Edit Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row" class="text-center">{{ order.id }}</th>
        <td class="text-center">{{ order.userId }}</td>
        <td>{{ order.username }}</td>
        <td>{{ order.orderStatus }}</td>

        <td>
          
            <div class="dropdown " >
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(25, 145, 75);">
                Set Status
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" >Pending</a></li>
                <li><a class="dropdown-item" >Shipped</a></li>
                <li><a class="dropdown-item" >Out For Delivery</a></li>
                <li><a class="dropdown-item" >Delivered</a></li>
              </ul>
            </div>
           
          
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <select
class="form-select  mx-5 text-black" style="width: 100px; height: 30px; background-color: rgb(9, 192, 9);"
aria-label="Default select example"
id="categorySelector"
ngModel
[(ngModel)]="status"

>gggg
<option value="1">Pending</option>
<option value="2">Shipped</option>
<option value="3">Out For Delivery</option>
<option value="4">Delivered</option>
</select>

<button class="btn btn-outline-dark" style="width: 80px; height: 50px;"  (click)="setStatus(order.id)" >Set Status</button> -->
