<div>
  <table class="container-fluid table caption-top">
    <caption class="text-black fs-2 mb-3">
      Order Details
    </caption>

    <thead>
      <tr>
        <th scope="col" class="text-center">Id</th>
        <th scope="col" class="text-center">User Id</th>
        <th scope="col">Username</th>
        <th scope="col">Current Status</th>
        <th scope="col">Edit Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <!-- <td><img
          src="{{
            'http://localhost:8080/api/admin/grocery/downloadFile/' +
              grocery.id
          }}"
          alt=""
          width="50px"
          height="50px"
        /></td> -->
        <th scope="row" class="text-center">{{ order.id }}</th>
        <td class="text-center">{{ order.userId }}</td>
        <td>{{ order.username }}</td>
        <td>{{ order.orderStatus }}</td>

        <td>
          <select
            [(ngModel)]="order.orderStatus"
            (change)="onStatusChange(order)"
          > 
            <option value="1">Pending</option>
            <option value="2">Confirmed</option>
            <option value="3">Out For Delivery</option>
            <option value="4">Delivered</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
