<div class="container mt-5">
  <h2>Category</h2>
  <form
    #categoryForm="ngForm"
    (ngSubmit)="onSubmit(categoryForm)"
    novalidate
    class="d-flex"
  >
    <div class="me-3 flex-grow-1">
      <input
        type="text"
        class="mb-4 form-control"
        placeholder="Enter your Category Name"
        name="title"
        [(ngModel)]="title"
      />
    </div>
    <div class="me-3">
      <button class="btn btn-success">{{ btn }}</button>
    </div>
  </form>

  <h3>All Categories List:</h3>

  <table class="table table-bordered table-hover" id="tab">
    <thead>
      <tr>
        <th scope="col" class="text-center">Id</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <th scope="row" class="text-center">{{ category.id }}</th>
        <td>{{ category.title }}</td>
        <td class="text-center justify-content-center">
          <button class="btn btn-primary me-3" (click)="onEdit(category.id!)">
            Edit</button
          ><button class="btn btn-danger" (click)="onDelete(category.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
