<div>
  <div>
    <div class="row mt-3 mx-3" style="margin-top: 25px">
      <div class="col-md-3">
        <div style="margin-top: 50px; margin-left: 10px" class="text-center">
          <i
            id="animationDemo"
            data-mdb-animation="slide-right"
            data-mdb-toggle="animation"
            data-mdb-animation-reset="true"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            class="fas fa-3x fa-shipping-fast text-Black"
          ></i>
          <h3 class="mt-3 text-Black">Welcome</h3>
          <p class="white-Black">
            You are 30 seconds away from compleating your order!
          </p>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-Black btn-rounded back-button"
            routerLink="/cart"
          >
            Go back
          </button>
        </div>
      </div>
      <div class="col-md-9 justify-content-center">
        <div class="card card-custom pb-4">
          <div class="card-body mt-0 mx-5">
            <div class="text-center mb-3 pb-2 mt-3">
              <h4 style="color: #495057">Order Details</h4>
            </div>

            <!-- <table
              class="table table-hover shadow bg-body-tertiary rounded"
              
            >
              <thead>
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Title</th>
                  
                 
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                </tr>
              </thead></table>

              <tbody id="cartitems" >
                <tr
                  class="shadow bg-body-tertiary rounded"
                  
                >
                  <td class="col">1</td>
                  <td class="col">Mango</td>
                  
                  <td class="col">1</td>
                  <td class="col">₹ 50</td>
                </tr>
              </tbody> -->

            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Count</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mango</td>
                  <td>1</td>
                  <td>50</td>
                  <td>50</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>Apple</td>
                  <td>1</td>
                  <td>100</td>
                  <td>50</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4"><strong>Total:</strong></td>
                  <td>₹ 150</td>
                </tr>
              </tfoot>
            </table>

            <div class="float-end">
              <!-- Submit button -->
              <a
                href="javascript:window.print()"
                class="btn btn-success waves-effect waves-light"
                ><i class="fa fa-print"></i>Print</a
              >

              <button
                type="submit"
                class="btn btn-primary btn-rounded text-white"
                style="background-color: #19a326"
              >
                Place order
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="main-content">
      <div class="page-content">
        <div class="page-title-box">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <div class="page-title">
                  <h4>Order Full Details</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="page-content-wrapper">
            <div class="row">
              <div class="col-12">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="invoice-title">
                          <h4 class="float-end font-size-16">
                            <strong>Order id:12345</strong>
                          </h4>
                          <h3 class="m-t-0">
                            <img
                              src="/assets/img/banner/slide8.jpg"
                              alt="logo"
                              height="18"
                            />
                          </h3>
                        </div>
                        <hr />
                        <div class="row">
                          <div class="col-6">
                            <address>
                              <strong>Billed To:</strong><br />
                              Ricky Clemons<br />
                              1234 Main<br />
                              Apt. 4B<br />
                              Springfield, ST 54321
                            </address>
                          </div>
                          <div class="col-6 text-end">
                            <address>
                              <strong>Shipped To:</strong><br />
                              Kenny Rigdon<br />
                              1234 Main<br />
                              Apt. 4B<br />
                              Springfield, ST 54321
                            </address>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6 m-t-30">
                            <address>
                              <strong>Payment Method:</strong><br />
                              Visa ending **** 4242<br />
                              RClemons@email.com
                            </address>
                          </div>

                          <div class="col-6 m-t-30 text-end">
                            <address>
                              <strong>Order Date:</strong><br />
                              October 7, 2016<br /><br />
                            </address>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div class="panel panel-default">
                          <div class="p-2">
                            <h3 class="panel-title font-size-20">
                              <strong>Order summary</strong>
                            </h3>
                          </div>
                          <div>
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <td><strong>Item</strong></td>
                                    <td class="text-center">
                                      <strong>Price</strong>
                                    </td>
                                    <td class="text-center">
                                      <strong>Quantity</strong>
                                    </td>
                                    <td class="text-end">
                                      <strong>Totals</strong>
                                    </td>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>BS-200</td>
                                    <td class="text-center">$10.99</td>
                                    <td class="text-center">1</td>
                                    <td class="text-end">$10.99</td>
                                  </tr>
                                  <tr>
                                    <td>BS-400</td>
                                    <td class="text-center">$20.00</td>
                                    <td class="text-center">3</td>
                                    <td class="text-end">$60.00</td>
                                  </tr>
                                  <tr>
                                    <td>BS-1000</td>
                                    <td class="text-center">$600.00</td>
                                    <td class="text-center">1</td>
                                    <td class="text-end">$600.00</td>
                                  </tr>
                                  <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center">
                                      <strong>Subtotal</strong>
                                    </td>
                                    <td class="thick-line text-end">$670.99</td>
                                  </tr>
                                  <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center">
                                      <strong>Shipping</strong>
                                    </td>
                                    <td class="no-line text-end">$15</td>
                                  </tr>
                                  <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center">
                                      <strong>Total</strong>
                                    </td>
                                    <td class="no-line text-end">
                                      <h4 class="m-0">$685.99</h4>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="d-print-none mo-mt-2">
                              <div class="float-end">
                                <a
                                  href="javascript:window.print()"
                                  class="btn btn-success waves-effect waves-light"
                                  ><i class="fa fa-print"></i>Print</a
                                >
                                <a
                                  href="#"
                                  class="btn btn-primary waves-effect waves-light ms-1"
                                  >Send</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

<!-- <div class="container mt-5">
      <p class="center-content">
        Oops! There are no orders placed! <br />
        <img
          src="https://static.wixstatic.com/media/7742ef_dfe620d0354b471b8620fcb2c3a46e62~mv2.gif"
        />
        <button class="btn btn-dark mt-2" routerLink="/">Shop Here</button>
    </p>
    
      <table
        class="table table-hover shadow bg-body-tertiary rounded"
        
      >
        <thead>
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Products</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody id="cartitems" >
          <tr
            class="shadow bg-body-tertiary rounded"
            *ngFor="let artwrok of item.orderedArtWorkList"
          >
            <td class="col">{{ item.id }}</td>
            <td class="col">{{artwrok.title}}</td>
            <td class="col">{{ item.createdAt }}</td>
            <td class="col">{{ artwrok.title }}</td>
            <td class="col">{{ artwrok.count }}</td>
            <td class="col">₹ {{ artwrok.price*artwrok.count}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <td class="fw-bold">Total:</td>
            <td class="fw-bold">₹ 1800</td>
          </tr>
        </tfoot>
      </table>
    </div> -->

<!-- *ngIf="orderDetails.length === 0"
*ngIf="orderDetails.length !== 0"
*ngFor="let item of orderDetails" -->
