<div class="table-container" style="padding: 30px 30px 30px 30px">
  <table class="table table-bordered" style="margin-top: 10px">
    <thead class="table-dark">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Order Title</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders">
        <ng-container *ngFor="let item of order.groceryList; let i = index">
          <tr>
            <td
              class="align-middle"
              *ngIf="i === 0"
              [attr.rowspan]="order.groceryList.length"
            >
              {{ order.id }}
            </td>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.count * item.price }}</td>
            <td>{{ order.orderStatus }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
